{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Tasks</span>
  </div>
{{/paper-toolbar}}

{{#paper-content class="md-padding"}}
  {{minion-list title="list of MUNIUNS" minions=model}}
{{/paper-content}}
